/* Tables */

table.table-sort th {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  white-space: nowrap;
}

/* Tooltip text */
.tooltip-text-container {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted #98a3ad;
  cursor: help;
}

/* Tooltip text */
.tooltip-text-container .tooltip-text {
  visibility: hidden;
  min-width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-text-container:hover .tooltip-text {
  visibility: visible;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  table.community-builds-table {
    display: block;
  }

  table.community-builds-table thead {
    background: none;
  }

  table.community-builds-table thead tr {
    border: none;
  }

  .community-builds-table thead th:before {
    content: 'Sort By: ';
    font-weight: bold;
    display: contents;
  }

  .community-builds-table thead th,
  .community-builds-table tbody tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid var(--fg);
    border-radius: 8px;
    padding: 10px 0;
  }

  .community-builds-table thead th.disable-sort {
    display: none;
  }

  .community-builds-table tbody tr {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }

  .community-builds-table tbody td {
    display: flex;
    border: none;
  }

  .community-builds-table tbody td:first-child {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1rem;
  }

  .community-builds-table tbody td:not(.case-image):not(.case-name)::before {
    content: attr(data-label) ': ';
    font-weight: bold;
    display: contents;
    padding-right: 0.5em;
  }

  .community-builds-table tbody td a {
    padding-left: 0.5em;
  }

  .community-builds-table tbody td.case-name {
    order: 1;
    font-size: 2em;
    font-weight: bold;
  }

  .community-builds-table tbody td.case-author {
    order: 2;
    font-style: italic;
  }

  .community-builds-table tbody td.case-image {
    order: 3;
  }

  .community-builds-table tbody td.case-link,
  .community-builds-table tbody td.case-usb,
  .community-builds-table tbody td.case-pcb,
  .community-builds-table tbody td.case-battery,
  .community-builds-table tbody td.case-dock {
    order: 4;
  }
}

table.community-builds-table img {
  min-width: 50px;
}